* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui;
}
:root {
  --borderAnd--Color: #0a0a0a;
  --Border-Cr: #888;
  --Txt--colr: rgb(255, 255, 255);
  --primary-backNote: rgb(13, 124, 56);
  --border--cercle: 70px;
}
.contentss {
  width: 85%;
  margin: 0 auto;
}
/* Navigation bar */
nav {
  width: 100%;
  background: #ffffff;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  z-index: 2;
}
nav .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.icon .fa-bars {
  font-size: 1.3rem;
  cursor: pointer;
}
.logo .logo-txt {
  width: 180px;
  margin-left: 190px;
  cursor: pointer;
}
.container .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
/* Menu notification and search */
.menu .search {
  position: relative;
}
.search .input {
  width: 150px;
  padding-left: 2.5rem;
  border: none;
  outline: none;
  border-bottom: 1.4px solid black;
  outline: none;
  background: transparent;
  color: #0d0c22;
}
.search .fa-solid {
  margin-left: 10px;
  cursor: pointer;
}
.menu .search .fa-magnifying-glass {
  position: absolute;
  top: 5px;
  left: 5px;
}
.notification .login {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: var(--borderAnd--Color);
}
/* Animation Images  */
.container {
  width: 100%;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 15s infinite;
}
.wrapper img {
  width: 100%;
}
@keyframes slide {
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}
/* Shop Women and Men */
.shop {
  width: 98%;
  background: var(--primary-backNote);
  text-align: center;
  padding: 20px 0;
  margin: 10px auto;
  border-radius: 70px;
}
.shop,
.info,
.btn,
.btn-women {
  color: var(--Txt--colr);
}
.shop .info {
  font-weight: 700;
  font-size: 0.8rem;
}
.shop .hot .note {
  font-weight: 700;
  font-size: 0.8rem;
}
.hot {
  font-size: 0.6rem;
  font-weight: 700;
}
.shop .btn {
  margin-top: 19px;
}
.shop .btn .btn-women {
  text-decoration: none;
}
.btn .btn-women {
  padding: 10px 25px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 30px;
  bottom: none;
  outline: none;
  background: var(--borderAnd--Color);
  /* border: 0.5px solid var(--Border-Cr); */
}
/* <!-- //card images Women and Men --> */
.container-card {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  overflow: hidden;
}
.card .card-img {
  width: 100%;
}
.card-img img {
  width: 500px;
  object-fit: cover;
}
.card .btn-card {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  border: 0.5px solid #888;
  padding: 8px 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-card a {
  text-decoration: none;
  color: #171819;
  font-size: 0.8rem;
  font-weight: 700;
}
/* ---Clothing HighLight--- */
.heading-clt {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--borderAnd--Color);
}
.container-clothing {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
}

.Bozz-Clothing {
  width: 22%;
}
.Bozz-Clothing .Clothing-img img {
  width: 100%;
}
.Clothing-img,
img {
  width: 230px;
}
.menu-clothing {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Bozz-Clothing .price {
  font-size: 0.8rem;
  color: var(--borderAnd--Color);
  font-weight: bold;
}
.menu-clothing .fa-bookmark {
  font-size: 12px;
  font-weight: 1;
  cursor: pointer;
}
.Bozz-Clothing .name-clo {
  margin-left: 10px;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--borderAnd--Color);
}

.box-bozz {
  display: flex;
  gap: 5px;
  margin: 10px 0 10px 10px;
  cursor: pointer;
  margin-bottom: 50px;
}
.box,
.box1 {
  width: 10px;
  height: 10px;
  background: #f4c2c2;
  border: 0.5px solid var(--Border-Cr);
}
.box-img3 {
  background: var(--borderAnd--Color);
}
.box-img9 {
  background: #122b20;
}
.box-bozz .box1 {
  background: #ffffff;
}
.green-Apple {
  width: 98%;
  text-align: center;
  margin: 0 auto;
  padding: 15px 5px;
  border-radius: 70px;
  background: var(--primary-backNote);
}
.green-Apple :first-child {
  font-size: 1rem;
  text-decoration: double;
  text-indent: 10px;
  font-weight: 500;
  color: var(--Txt--colr);
}
.green-Apple :last-child {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--Txt--colr);
}
/* ///---Information Service//// */
.information {
  width: 98%;
  padding: 10px 0;
  border-radius: 70px;
  margin: 0 auto;
  background: var(--borderAnd--Color);
}
.service-infor {
  width: 225px;
  padding: 10px;
  margin-right: 25px;
}
.service-infor .title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--Txt--colr);
}
.parent-infor {
  display: flex;
  justify-content: space-between;
}
.service-infor .app-mobile {
  display: flex;
  flex-direction: column;
}
.app-mobile .app {
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 5px;
  color: var(--Txt--colr);
}
/* //Icon Moblie */
.app-mobile .fa-mobile {
  margin-right: 10px;
  font-size: 13px;
}
/* //Internet  ONline*/
.app-mobile,
.fa-facebook,
.fa-instagram,
.fa-tiktok {
  margin-right: 10px;
  font-size: 13px;
}
/* //Customer Services Icon */
.app-mobile,
.fa-circle-question,
.fa-shield-halved {
  margin-right: 10px;
  font-size: 13px;
}
/* //Logo Banking */
.app-mobile img {
  margin-top: 5px;
  background: transparent;
}
/* ///Final footer */
.footer {
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}
.footer .Author {
  font-size: 0.8rem;
  font-weight: bold;
}
.footer::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 8px;
  border: 1px solid var(--borderAnd--Color);
  background: linear-gradient(
    322deg,
    rgba(227, 0, 246, 1) 8%,
    rgba(49, 235, 51, 1) 35%,
    rgba(225, 233, 21, 1) 53%,
    rgba(252, 1, 1, 1) 85%
  );
}
